---
layout: default
---

{% include shared_variables.html %}

<div class="row">
    {% for api in site.apis %}
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa {{api.icon}}" aria-hidden="true"></i> {{api.title}}</h5>
                <p class="card-text">{{api.description}}</p>
                <a href="{{api.url}}" class="btn btn-primary">{{dictionary.accessDocumentation}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>